body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0;
}

a {
text-decoration: none;
color: currentColor;
}

ul {
list-style: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

button {
cursor: pointer;
}

address {
font-style: normal;
}

img{
    display: block;
}

.container {
width: 100%;
max-width: 1440px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.link {
text-decoration: none;
}

/*--------------------HEADER-------------------*/
.header{
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.header{
    color:  #2E2F42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
}

.logo {
    color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-left: 156px;
padding-right: 1240px;
}
.logo-part {
    color: #2E2F42;
}
.nav-link {
color:  #2E2F42;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-right: 1045px;
display: flex;
align-items: center;


}

.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}
.address {
    font-style: normal;
}
.address-link {
color:  #434455;
font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-right: 347px;
display: flex;

}

.address-link:hover,
.address-link:focus{
    color: #404BBF;
}

/*--------------MAIN-------------*/
/*--------------------SECTION1-------------------*/
.hero{
    padding-bottom: 120px;
}

.first-section{
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 472px 292px 472px;
}

.main-words {
color: #FFF;
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 48px;
max-width: 496px;
}
.main-button {
    color: #ffffff;
background:  #4D5AE5;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
padding: 16px 32px 16px 32px;
border-radius: 4px;

}
.button-words{
color: #ffffff ;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}
.main-button:hover,
.main-button:focus{
background:  #404BBF;

}

/*--------------------SECTION2-------------------*/

.list{
    display: flex;
    gap: 24px;
    margin-left: 156px;
    margin-right: 156px;
}

.approaches {
    color: #2E2F42;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.paragraph-words {
    color: #434455;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 120px;


}

.approach-words {
    color:  #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 72px;
    
}
/*--------------------SECTION3-------------------*/
.background-section{
    background-color: #F4F4FD;
}


.list-background{
    background-color: #FFFFFF;
}

.team-member{
    background-color: #FFFFFF;
}

.ourteam-header{
    color:  #2E2F42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
padding-bottom: 72px;
}

.photo-team{
    margin-bottom: 32px;
}

.ourteam-names {
    color: #2E2F42;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.ourteam-words {
    color: #434455;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 32px;


}

/*--------------------SECTION4-------------------*/

.portfolio-header{
    color:  #2E2F42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
padding-bottom: 72px;
}

.portfolio-photo{
    padding-bottom: 32px;
}

.ourportfolio-apps {
    color: #2E2F42;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
padding-bottom: 8px;

}

.app-words {
    color: #434455;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
padding-bottom: 32px;
}

/*--------------------FOOTER-------------------*/

.footer{
    background-color: #2E2F42;
}
.logo-white{
    color: #F4F4FD;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-paragraph{
    color: #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}